body {
	font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
hr {
	background: #ccc url("../assets/_design/hr_bg.png") repeat;
	height: 15px;
	margin: 20px 0;
	border: 0;
	clear: both;
}
q {
	color: #666;
	font-style: italic;
	font-family: monospace;
	background-color: #e9e9e9;
	border-radius: 3px;
	padding: 1px 5px;
}
blockquote {
	margin: 0;
	font-size: 1.2em;
	font-style: italic;
	color: #555;
	position: relative;
	margin-left: 35px;
	width: 495px;
}
	blockquote::before {
		content: '\201C';
		font-size: 3em;
		position: absolute;
		top: -10px;
		left: -35px;
	}
	blockquote::after {
		content: '\201D';
		font-size: 3em;
		position: absolute;
		bottom: -30px;
		right: 0px;
	}
	blockquote p {
		font-weight: normal;
	}
	abbr {
		border-bottom: 1px dashed #bbb;
		cursor: help;
	}
pre {
	font-size: 0.8em
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul {
  padding: 8px 0 20px 25px;
  list-style-type: initial;
}
ol {
	padding-left: 25px;
	list-style-type: decimal;
}
	ol ol,
	ul ul {
		padding-left: 40px;
	}
	ol ol ol,
	ul ul ul {
		padding-left: 60px;
	}
h1, h2, h3, h4 {
	font: normal 28pt "Open Sans", Arial, Helvetica, sans-serif;
	margin: 0 0 15px 0;
}
h2 {
	font-size: 22pt;
	border-bottom: 1px solid #f0f0f0;
}
h3 {
	font-size: 18pt;
	border-bottom: 1px solid #f0f0f0;
}
h4 {
	font-size: 14pt;
}

dl dt {
	font-weight: bold;
}
dl dd,
dl dd p {
	font-size: 1.0rem;
}
p img {
	max-width: 100%;
    height: auto;
}

/* ************** */
/* Game specifics */
/* ************** */
img.materia {
	width: 20px;
}
.materia-slots {
	display: inline-block;
	image-rendering: pixelated;
	background-image: url("../assets/gfx/materia_single.gif");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	width: 30px;
	height: 0;
	padding-top: 28px;
	margin-right: 2px;
}
.materia-slots.double {
	width: 64px;
	background-image: url("../assets/gfx/materia_double.gif");
}
.stars {
	font-size: 26pt;
	color: hsla(0,1%,1%,0.3);
}
	.stars .lit {
		color: orange;
	}
	/* Boxes */
	.infobox {
		background-color: #fefbf3;
		border: 1px solid rgba(0, 0, 0, .2);
		padding: 10px 12px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
		margin: 25px 0;
		border-radius: 3px;
		color: #404040;
		font-size: 11pt;
		max-width: 520px;
		box-sizing: border-box;
	}
		.infobox p,
		.infobox ol li,
		.infobox ul li {
			padding-bottom: 0;
			margin-bottom: 0;
			font-size: 11pt;
			color: #404040;
			max-width: 100%;
		}
		.infobox ul, .infobox ol {
			margin-left: 20px;
			padding: 0;
		}
		.infobox p:first-child {
			padding-top: 0;
			margin-top: 0;
		}
	.infobox.light {
		background-color: #EAECEF;
		border: none;
		box-shadow: none;
		margin: 15px 0 25px -20px;
		border-radius: 0px 5px 5px 0px;
		width: 520px;
	}
		.infobox.light span {
			display: inline-block;
			width: 150px;
			text-align: center;
			font-size: 12pt;
		}
		.infobox.light span.unknown {
			color: hsla(1,1%,1%,0.25);
		}
	.infobox.warning {
		background-color: #fffafa;
		border-color: #ffb3b3;
	}
		.infobox.warning p {
			color: red;
		}
	.infobox.success {
		background-color: #f7fff7;
		border-color: #c4cdc4;
	}
		.infobox.success p {
			color: #419862;
		}
	.infobox.muted {
		background-color: #f9f9f9;
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	}
		.infobox.muted p {
			color: #b0b0b0;
			font-style: italic;
			font-size: 9pt;
		}

/* New infoboxes for the guide */
:root {
	 /* True FF9 Mog-turqouise */
	--mog-turqoise: rgb(140, 206, 198);
	--mog-turqoise-light: rgb(232, 245, 244);
	--mog-turqoise-dark: rgb(14, 132, 117);

	--warning-red: rgb(214, 104, 104);
	--warning-red-light: rgb(239, 197, 197);
	--warning-red-dark: rgb(197, 46, 46);

	--attention-yellow: rgb(211, 193, 91);
	--attention-yellow-light: rgb(245, 241, 218);
	--attention-yellow-dark: rgb(197, 172, 22);

	--sidequest-blue: rgb(104, 148, 214);
	--sidequest-blue-light: rgb(221, 231, 247);
	--sidequest-blue-dark: rgb(69, 111, 175);;
}

.infobox2 {
	padding: 18px 18px 6px 18px;
	border: none;
	border-left: 5px solid var(--attention-yellow);
	border-radius: 8px;
	background-color: var(--attention-yellow-light);
	margin: 0 0 17px 17px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
	width: 55%;
	float: right;
}
	.infobox2.wide {
		width: auto;
		float: none;
		clear: both;
		margin-left: 0;
	}
	.infobox2 p, .infobox2 li {
		line-height: 150%;
		font-size: 0.95rem;
		color: #333;
		width: auto;
	}
	.infobox2 p {
		margin: 0.75em 0;
	}
	.infobox2 q {
		font-size: 11pt;
		font-weight: bold;
		background-color: white;
	}
	.infobox2 ul, .infobox2 ol {
		margin-left: 0;
		padding-left: 20px;
		list-style-type: initial;
	}
	.infobox2 li {
		display: list-item;
		line-height: 140%;
	}
	.infobox2 hr {
		height: 0;
		border: none;
		border-top: 3px solid rgba(68, 68, 68, 0.2);
		margin: 0.95em 0;
		opacity: .45;
	}
	.infobox2 h6,
	.infobox2 h4 {
		margin: 0;
	}
	.infobox2 h4 {
		font-size: 15pt;
		color: #333;
		width: auto;
	}
	.infobox2 h6 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.7rem;
		letter-spacing: 1px;
	}
	.infobox2 a {
		color: white;
		text-decoration: none;
		padding: 2px 3px;
		border-radius: 3px;
		border: 2px solid transparent;
		transition: color, border 300ms linear;
 	}
    .infobox2 a:hover, .infobox2 a:active, .infobox2 a:focus {
    	border-color: rgba(0,0,0,0.4);
		color: #f0f0f0;
    }
	 .infobox2.warning {
      border-left: 5px solid var(--warning-red);
      background-color: var(--warning-red-light);
    }
      .infobox2.warning a {
        background-color: var(--warning-red);
      }
      .infobox2.warning hr {
        border-color: var(--warning-red);
      }
      .infobox2.warning h6 {
        color: var(--warning-red-dark);
      }
    .infobox2.didyouknow {
      border-left: 5px solid var(--sidequest-blue);
      background-color: var(--sidequest-blue-light)
    }
      .infobox2.didyouknow a {
        background-color: var(--sidequest-blue);
      }
      .infobox2.didyouknow hr {
        border-color: var(--sidequest-blue);
      }
      .infobox2.didyouknow h6 {
        color: var(--sidequest-blue-dark);
      }
    .infobox2.dontmiss {
      border-left: 5px solid var(--attention-yellow);
      background-color: var(--attention-yellow-light);
    }
      .infobox2.dontmiss a {
        background-color: var(--attention-yellow);
      }
      .infobox2.dontmiss hr {
        border-color: var(--attention-yellow);
      }
      .infobox2.dontmiss h6 {
        color: var(--attention-yellow-dark);
      }
    .infobox2.help {
      border-left: 5px solid var(--mog-turqoise);
      background-color: var(--mog-turqoise-light);
    }
      .infobox2.help a {
        background-color: var(--mog-turqoise);
      }
      .infobox2.help hr {
        border-color: var(--mog-turqoise);
      }
      .infobox2.help h6 {
        color: var(--mog-turqoise-dark);
      }


.fullcover {
	background: rgb(223,227,232);
	background: linear-gradient(245deg, rgba(223,227,232,1) 0%, rgba(184,206,234,1) 100%);
	margin: 25px -20px 25px -20px;
	padding: 5px 25px;
}
	.fullcover p, .fullcover li {
		font-style: italic;
		color: #6A6A6A;
		padding: 0;
		margin: 10px 0;
		line-height: 150%;
		width: auto;
	}
	.fullcover h2,
	.fullcover h3,
	.fullcover h4 {
		margin-top: 15px;
		border-color: #666;
	}

/* Style for tables */
table {
	width: 100%;
	margin: 20px 0 20px 0;
	border-spacing: 0;
	border-collapse: collapse;
}
	table caption {
		font-style: italic;
		font-size: 10pt;
		color: gray;
		padding: 0 0 3px 0;
	}
	table tfoot tr td {
		/*font: 8pt Arial, Verdana, sans-serif !important;*/
		color: gray;
		margin: 0;
		padding: 6px 0 0 8px;
	}
		table tfoot tr td a {
			color: #abb6c3;
		}
	table tfoot tr:hover {
		background-color: transparent;
	}
	table tr {
		border-top: 1px solid #f0f0f0;
	}
	table tr:first-child {
		border-top: none;
	}
	table tr:hover {
		background-color: #F7F7F7;
	}
		table tr th, table thead tr td {
			padding: 8px 4px 8px 6px;
			font-size: 11pt;
			font-weight: bold;
			background-color: #F7F7F7;
			text-align: left;
		}
		table tr td {
			padding: 7px 4px 7px 6px;
			line-height: 150%;
			font-size: 15px;
		}
			table tr td img {
				vertical-align: middle;
			}

.weak-text {
	padding-top: 5px;
	color: #708090;
	font-size: 15px !important;
}
	h2 + .weak-text {
		margin-top: -15px;
	}

/* Sidebar */
aside,
.sidebar {
	float: right;
	background-color: #DFE3E8;
	width: 170px;
	padding: 10px;
	margin-left: 10px;
	border-radius: 5px;
	font-size: 10pt;
	/*font-family: Arial, Verdana, sans-serif;*/
	color: #444;
	clear: right;
	margin-bottom: 20px;
}
	aside.highlight,
	.sidebar.highlight {
		background-color: #b9d1f1;
	}
	aside h4,
	.sidebar h4 {
		font-size: 13pt;
		margin: 0 0 6px 0;
		border: 0;
		color: #666;
		font-weight: bold;
	}
	aside.highlight h4,
	.sidebar.highlight h4 {
		color: black;
	}
	aside p,
	.sidebar p,
	aside li,
	.sidebar li {
		font-size: 10pt;
		line-height: 150%;
		width: auto;
	}
	aside p,
	.sidebar p {
		padding: 0;
		margin: 0 0 12px 0;
	}
		aside p:last-child,
		.sidebar p:last-child {
			margin-bottom: 0;
		}
	aside ul, aside ol,
	.sidebar ul, .sidebar ol {
		padding-left: 22px;
		margin: 4px 0;
	}
	aside a,
	.sidebar a {
		font-size: 10pt;
		border: 0;
	}
	aside ul,
	.sidebar ul {
		margin-bottom: 15px;
	}

aside.img,
.sidebar_img,
.sidebar.img {
	float: right;
	/*border-radius: 5px;*/
	/*background-color: transparent;*/
	width: 190px;
	padding: 0;
	margin-left: 10px;
	margin-bottom: 20px;
	text-align: center;
}
	aside.img img,
	.sidebar_img img {
		max-width: 190px;
		border-radius: 5px;
	}
	aside.img a,
	.sidebar_img a {
		border: 0;
	}
aside.img_box,
.sidebar_img_box,
.sidebar.img_box {
	float: right;
	border-radius: 5px;
	background-color: #DFE3E8;
	width: 182px;
	padding: 4px;
	margin-left: 10px;
	margin-bottom: 20px;
	color: #767676;
	/*font: 12px Arial, Helvetica, Verdana, sans-serif;*/
	font-size: 10pt;
	text-align: center;
}
	aside.img_box img,
	.sidebar_img_box img {
		border-radius: 2px;
		border: 1px solid #B2C1CC;
		max-width: 180px;
		background-color: white;
	}
	aside.img_box a,
	.sidebar_img_box a {
		border: 0;
	}
	aside.img_box p,
	.sidebar_img_box p,
	.sidebar.img_box p {
    	margin: 0 0 0.5em 0;
    	padding: 0;
	    font-size: 0.8rem;
	}
