i.gamepad {
	overflow: hidden;
	background-repeat: no-repeat;
	display: inline-block;
}
i.gamepad.psx {
	width: 16px;
	height: 16px;
	background-image: url("../assets/gfx/gamepad_playstation.png");
}
	i.gamepad.psx.ex {
		background-position: 0px 0px;
	}
	i.gamepad.psx.square {
		background-position: -16px 0px;
	}
	i.gamepad.psx.circle {
		background-position: -32px 0px;
	}
	i.gamepad.psx.triangle {
		background-position: -48px 0px;
	}
	i.gamepad.psx.r1,
	i.gamepad.psx.r2,
	i.gamepad.psx.l1,
	i.gamepad.psx.l2 {
		height: 12px;
	}
	i.gamepad.psx.start {
		height: 10px;
	}
	i.gamepad.psx.r1 {
		background-position: 0px -16px;
	}
	i.gamepad.psx.r2 {
		background-position: -16px -16px;
	}
	i.gamepad.psx.l1 {
		background-position: -32px -16px;
	}
	i.gamepad.psx.l2 {
		background-position: -48px -16px;
	}
	i.gamepad.psx.start {
		background-position: 0px -48px;
	}
	i.gamepad.psx.select {
		background-position: -16px -48px;
	}
	i.gamepad.psx.up,
	i.gamepad.psx.left,
	i.gamepad.psx.right,
	i.gamepad.psx.down {
		height: 12px;
	}
 	i.gamepad.psx.up {
		background-position: -16px -32px;
	}
	i.gamepad.psx.right {
		background-position: -48px -32px;
	}
	i.gamepad.psx.down {
		background-position: -32px -32px;
	}
	i.gamepad.psx.left {
		background-position: 0px -32px;
	}
