@import "psx-icons.css";

.mce-menu-item .mce-ico {
	padding-right: 0 !important;
}
i.mce-i-icon {
	font: 400 20px/1 dashicons;
	padding: 0;
	vertical-align: top;
	speak: none;
	/*-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;*/
	/*padding-right: 5px;*/
	margin-top: 3px;
	background-size: initial;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
