@import "css/psx-icons.css"; /* Gamepad icons for Playstation */
@import "css/common.css"; /* Used inside pages, by both frontend and TinyMCE */

/*
	Try to put everything inside common.css, however somethings cannot be styled
	universally, common elements like p, li, a and similar will too easily leak
	into the rest of the website.
*/
p, li {
	width: 520px;
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
	font-size: 13pt;
	line-height: 150%;
}
a {
	text-decoration: none;
	color: #407ac2;
	border-bottom: 1px solid #abb6c3;
}
	a:hover {
		color: #566a91;
		padding-bottom: 2px;
	}

@media screen and (max-width: 600px) {
	p, li, blockquote, aside, .sidebar {
		width: auto;
		clear: both;
		float: none;
	}
}