/*
Theme Name: FFUniverse 2
Description: Vastly improved theme for "FFUniverse 2". Based upon the total FFU remake released in spring 2013 (the site's 15 year anniversary). New with this theme is the dropping of all Custom Page Types and the need to create Child Themes for each site. Also loads of other improvements based on user experiences of the original theme for two years and many different sites and scenarios. Many frefactorings, new templates, new design of content elements, and a big focus on making the code easier to maintain, and the pages a lot faster.
Author: Bellfalasch
Author URI: https://github.com/Bellfalasch/
Version: 1.7.2
*/

@import "css/psx-icons.css"; /* Gamepad icons for Playstation */
@import "css/common.css"; /* Used inside pages, by both frontend and TinyMCE */

@media screen {

/* Themes and main-design */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden; /* Fix for mobile TopNav off-screen rendering */
}
body  {
	background: #abb6c3;
}
form {
	margin: 0;
	padding: 0;
}


.quick-links {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 2em;
}
	.quick-links a {
		padding: 10px;
		background-color: #407ac2;
		color: white;
		border-radius: 4px;
		font-size: 1.4em;
		margin: 1em;
		border: 2px solid transparent;
	}
	.quick-links a:hover {
		padding-bottom: 10px;
		color: white;
		text-decoration: underline;
		border: 2px solid #3FABD8;
		background-color: #3FABD8;
	}

body header.theme-header {
	background: #566a91 url("assets/_design/header_bg.png") repeat-x;
	overflow: hidden;
}
	body header.theme-header .wrapper {
		width: 1006px;
		margin: 0 auto;
		background: transparent none top center no-repeat;
	}
		body header.theme-header .content {
			width: 960px;
			margin: 0 auto;
			height: 70px;
			/*padding: 0 23px;*/
			padding-top: 180px;
			overflow: hidden;
			/*background: transparent url('assets/_design/header_innershades.png') no-repeat;*/
			/*box-shadow: black 0px 0px 20px inset, black 0px 0px 20px;*/
			box-shadow: rgba(0,0,0,0.60) 0px 0px 20px inset, black 0px 0px 20px;
			background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%, rgba(0,0,0,0.15) 100%);
		}
	body header.theme-header .site_title {
		float: left;
		text-shadow: 0px 0px 5px hsla(0, 1%, 1%, 0.75);
		width: 705px;
		padding: 0;
		margin: 0;
		padding-left: 15px;
	}
		body header.theme-header .site_title a {
			color: white;
			font: 100 48px "Abel", "Open Sans", Helvetica, Arial, Verdana, sans-serif;
			font-size: 48px;
			font-weight: 100;
			line-height: 70px;
			border-bottom: 0;
			text-decoration: none;
		}
	#searchform {
		float: left;
		width: 240px;
		height: 70px;
		background: transparent url("assets/_design/tonberry_search.png") bottom right no-repeat;
	}
		#searchform > div {
			padding: 35px 0 0 22px;
		}
		#searchform #s {
			font: 9pt/9pt monospace;
			padding-top: 1px;
			margin-top: 4px;
		}
		#searchform input {
			background-color: transparent;
			border: 0;
			padding: 2px 0;
			float: left;
			width: 130px;
			margin: 0;
		}
		#searchform input[type="submit"] {
			background-color: transparent;
			width: 80px;
			height: 60px;
			margin-top: -30px;
			margin-left: 6px;
			cursor: pointer;
			/*border: 1px solid red;*/
		}
		#searchform input:active,
		#searchform input:focus {
			outline: none;
		}

#main_wrapper {
	/*background: #f1f3f5 url("assets/_design/main_bg.png") repeat-x;*/
	background-color: #f1f3f5;
	background-image: linear-gradient(to bottom, #c9ced7 0px, #adb5c2 1px, #f1f3f5 131px);
}
#content_wrapper {
	width: 973px;
	margin: 0 auto;
	/*padding-left: 50px;*/
	overflow: hidden; /* expand box to contain all floats */
	background: transparent url("assets/_design/content_bg.png") top right repeat-y;
}

/* Main navbar, CSS-only =) */
#navbar {
	float: left;
	width: 185px;
}
	#navbar .menu-toggler,
	#navbar .mobile-search-form {
		display: none;
	}
	#navbar #logo {
		margin-bottom: 15px;
	}
	#navbar nav {
		width: 181px;
		overflow: hidden;
		padding-left: 4px;
	}
		#navbar nav h4 {
			margin: 0 0 0 10px;
			padding: 0;
			line-height: 100%;
			font: 18px Arial, Helvetica, Verdana, sans-serif;
			color: hsla(213, 32%, 27%, 0.6);
		}

		#navbar nav .ff_menu {
			margin-bottom: 15px;
			position: relative;
			border: 1px solid #939393;
			border-radius: 8px 0 0 8px;
			padding: 4px 0 4px 4px;
			background-color: white;
			box-shadow:
				0px 0px 5px hsla(0,0%,0%,0.4),
				hsla(0,0%,0%,0.4) 0px 0px 3px inset;
			width: 190px;
		}
		.ff_menu .menu {
			border: 1px solid #003c54;
			background: hsla(198,100%,42%,1);
			background: -moz-linear-gradient(top, hsla(198,100%,42%,1) 0%, hsla(196,100%,21%,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, hsla(198,100%,42%,1)), color-stop(100%, hsla(196,100%,21%,1)));
			background: -webkit-linear-gradient(top, hsla(198,100%,42%,1) 0%, hsla(196,100%,21%,1) 100%);
			background: -o-linear-gradient(top, hsla(198,100%,42%,1) 0%, hsla(196,100%,21%,1) 100%);
			background: -ms-linear-gradient(top, hsla(198,100%,42%,1) 0%, hsla(196,100%,21%,1) 100%);
			background: linear-gradient(to bottom, hsla(198,100%,42%,1) 0%, hsla(196,100%,21%,1) 100%);
			/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0094d4', endColorstr='#004e6b', GradientType=0 );*/
			border-radius: 5px 0 0 5px;
			box-shadow:
				0px 0px 3px hsla(0,0%,0%,0.6),
				hsla(0,0%,0%,0.6) 0px 0px 14px inset;
			width: 190px;
			padding: 8px 0;
			display: block;
		}
			.ff_menu ul li {
				padding-left: 0;
			}
				/*.ff_menu ul li > ul {
					overflow: hidden;
				}*/
				.ff_menu ul ul.sub-menu {
					padding-bottom: 5px;
					position: relative;
					transition: height 400ms ease-in-out;
					height: auto;
					display: block;
				}
				.ff_menu ul ul.sub-menu.closed {
					height: 0px;
					padding-bottom: 0;
				}
				.ff_menu ul ul.sub-menu.closed li {
					display: none;
				}
					.ff_menu ul ul.sub-menu::before {
						content: "";
						display: block;
						width: 15px;
						height: 15px;
						background-image: url("assets/_design/tilemap.png");
						background-repeat: no-repeat;
						background-position: 0px 0px;
						overflow: hidden;
						position: absolute;
    				top: -20px;
					}
				.ff_menu ul li.in-path .sub-menu::before,
				.ff_menu ul li.is-active .sub-menu::before {
					background-position: -16px 0px;
				}
				.ff_menu ul ul.sub-menu::before {
					background-position: -16px 0px;
				}
				.ff_menu ul ul.sub-menu.closed::before {
					background-position: 0px 0px;
				}
				.ff_menu .in-path > a {
					font-weight: bold !important;
				}
				.ff_menu .is-active > a {
					font-weight: bold !important;
				}
				#ffmenu_active_hand {
					background-image: url("assets/_design/tilemap.png");
					background-repeat: no-repeat;
					background-position: 0px -16px;
					float: left;
					margin-left: -10px;
					margin-top: 3px;
					width: 24px;
					height: 16px;
					position: absolute;
			    z-index: 1;
				}
				.ff_menu ul li a {
					display: block;
					padding: 3px 0 3px 15px;
					font: 12px Verdana, sans-serif;
					text-shadow: 1px 1px 1px hsla(0, 1%, 1%, 0.5);
					color: hsla(1, 1%, 100%, 0.95);
					text-decoration: none;
				}
				.ff_menu ul li a:hover {
					text-decoration: none;
					background-color: hsla(1, 1%, 100%, 0.25);
				}
					.ff_menu ul li ul li a {
						font-size: 10px;
						padding-left: 28px;
					}

#content {
	float: left;
	width: 740px;
	padding: 18px 28px 18px 28px;
	margin-left: -8px;
}
	/* Breadcrumbs */
	#breadcrumbs {
		font-size: 10px;
		font-family: Verdana;
		background: url("assets/_design/tilemap.png") -32px -16px no-repeat;
		padding-left: 20px;
		overflow: hidden;
		margin-bottom: 10px;
		float: left;
		clear: left;
	}
		#breadcrumbs li {
			color: #a6a6a6;
			float: left;
			padding-right: 6px;
		}
		#breadcrumbs li:after {
			content: "/";
			padding-left: 7px;
		}
			#breadcrumbs li a {
				color: #404040;
				text-decoration: none;
			}
				#breadcrumbs li a:hover {
					text-decoration: underline;
				}
			#breadcrumbs li:first-child {
				color: #404040;
				font-weight: bold
			}
			#breadcrumbs .separator {
				color: #c0c0c0;
			}

/* Main page content */
article {
	clear: left;
	padding-bottom: 20px;
}
	article p,
	article li
	{
		width: 520px;
		font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
		font-size: 13pt;
		line-height: 150%;
	}
	article a,
	section a,
	aside a,
	.sidebar a {
		text-decoration: none;
		color: #407ac2;
		border-bottom: 1px solid #abb6c3;
	}
		article a:hover,
		section a:hover,
		aside a:hover,
		.sidebar a:hover {
			color: #566a91;
			padding-bottom: 2px;
		}
	article aside p,
	article .sidebar p {
		font-size: 10pt;
		width: auto;
		padding: 0;
		margin: 0 0 12px 0;
		line-height: 150%;
	}
	article ul + h4,
	article ul + h3,
	article ul + h2 {
		padding-top: 15px;
	}
	article h4 + ul,
	article h4 + ul,
	article h4 + ul {
		padding-top: 0;
	}
	article a img {
		border: none;
		display: block;
	}

/* *** Specific templates overrides *** */

/* Characters and bosses */
h2.fullname {
	font-size: 19pt;
	border: none;
	font-style: italic;
}
h2.fullname:before {
	content: "\201C";
}
h2.fullname:after {
	content: "\201D";
}
	h2.aka {
		border: none;
		font-style: italic;
		font-size: 15pt;
		color: #666;
		font-weight: bold;
	}
		h2.aka:before {
			content: "Också känd som: ";
			font-size: 14pt;
			font-weight: normal;
		}
		.page-content {
			float: left;
			margin-top: -20px;
			max-width: 740px;
			position: relative;
		}
		/* Make boss pages accept sidebar in its text. */
		.page-content > .sidebar {
			position: absolute;
			right: -170px;
		}
		h2.boss-guide-intro {
			clear: both;
		}

/* Card pages (FF8 and more) */
article .card-box {
	float: left;
	clear: left;
	margin-right: 12px;
	background-color: #dfe3e8;
	padding: 8px 10px;
}
	article .card-box img {
		margin: 0;
		padding: 0;
	}

h2 + .table-wrapper,
h3 + .table-wrapper {
  margin-top: -10px;
}

/* New Guide chapters look*/
.guide {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
	.guide .chapter {
		width: 31.33%;
		align-items: flex-start;
		transition: all 400ms linear;
		overflow: hidden;
		border-bottom: 0;
		margin-bottom: 20px;
	}
	.guide .chapter:hover {
		box-shadow: #bbb 0px 0px 10px 3px;
	}
		.guide .chapter:hover h3 {
			opacity: 1;
		}
		.guide .chapter header {
			overflow: hidden;
			/*width: 231px;*/
			height: 180px;
		}
			.guide .chapter header img {
				display: block;
				/*max-width: 232px;*/
				opacity: 0.8;
				transition: opacity 300ms linear;
			}
			.guide .chapter:hover header img,
			.guide .chapter:hover ol {
				opacity: 1;
			}
		.guide .chapter h3 {
			color: white;
			background-color: #407ac2;
			font-weight: 100;
			padding: 4px;
			margin: 0px;
			opacity: 0.8;
			transition: all 300ms linear;
		}
			.guide .chapter h3 strong {
				display: block;
				font-size: 0.6em;
				opacity: 0.65;
			}
		.guide .chapter ol {
			list-style: none;
			/*margin: 2px 0 0 0;*/
			padding: 4px 0px;
			display: flex;
			/*justify-content: flex-start;*/
			justify-content: center;
			/*align-content: flex-start*/
			flex-flow: row wrap;
			opacity: 0.8;
		}
			.guide .chapter ol li {
				/*display: inline;*/
				background-color: #ddd;
				padding: 1px 5px;
				border-radius: 8px;
				/*border-top-left-radius: 0;
				border-bottom-left-radius: 0;*/
				font-size: 0.85em;
				color: #333;
				/* margin: 0 0 3px 0; */
				line-height: 180%;
				white-space: nowrap;
				width: auto;
		    	margin-bottom: 5px;
				margin-right: 4px;
			}

/* Story/intro */
.story {
	padding-bottom: 3em;
}
	.story p {
		font-size: 1.2em;
		font-style: italic;
		text-align: center;
		clear: both;
		width: 550px;
		display: block;
		color: gray;
		margin: 0 auto;
		padding: 10px 0;
		line-height: 175%;
	}
	.story h1 {
		text-align: center;
		margin: 0 auto;
		width: 550px;
		font-size: 28pt;
		font-weight: normal;
		clear: both;
	}
	.updates h1,
	.updates h3,
	.updates p {
		margin-left: 53px;
		width: auto;
	}
	.updates h3 {
		border: none;
		margin-bottom: 12px;
		font-size: 18pt;
	}
		.updates h3 a {
			border: none;
			color: black;
		}
		.updates h3 a:hover {
			text-decoration: underline;
		}
	.updates article {
		padding-top: 15px;
		padding-bottom: 28px;
		width: 530px;
	}

	/* Linkbox (med bild) */
	nav ol,
	nav ul,
	.gallery ol,
	ol.image_gallery,
	.linkbox.gallery {
		list-style-type: none;
		display: flex;
    	flex-wrap: wrap;
		padding: 0;
		margin: 0;
	}
	ol.image_gallery,
	.linkbox.gallery {
		justify-content: space-between;
	}
	.linkbox li {
		padding: 15px;
		text-align: center;
		background-color: #EAECEF;
		border-radius: 5px;
		padding: 5px;
		text-align: center;
		margin: 15px 15px 5px 5px;
		max-width: 152px;
		width: 152px;
		color: black;
	}
	.linkbox.gallery li {
		margin: 0 0 15px 0;
	}
	.linkbox.noimg li {
		width: 150px;
		height: 150px;
		display: table;
	}
		.linkbox li small {
			color: #767676;;
			font-size: 8pt;
		}
		.linkbox li a {
			font-size: 16px;
			border: 0;
			line-height: 150%;
		}
		.linkbox.noimg li a {
			font-size: 1.4em;
			display: table-cell;
			vertical-align: middle;
		}
		.linkbox.noimg li a:hover {
			padding-bottom: 0;
		}
			.linkbox li a img {
				border: 1px solid #C5D2DB;
				display: block;
				margin: 0 auto;
				margin-bottom: 3px;
				background-color: white;
			}
			.linkbox.gallery li a img {
				width: 150px;
				height: 150px;
			}
			.linkbox li a .placeholder {
				width: 150px;
				height: 150px;
				color: #b2c1cc;
				font-size: 30pt;
				overflow: hidden;
				text-align: center;
				line-height: 75px;
				margin: 0 auto 3px auto;
			}
				.linkbox li a .placeholder svg {
					fill: #97b4d6;
					transition: fill 400ms linear;
				}
				.linkbox li a:hover .placeholder svg {
					fill: #407ac2;
				}

	nav.submenu.simple li {
		margin: 0.2em 0;
		padding: 5px 0;
	}
		nav.submenu.simple a,
		a.simple.block {
			background-color: #EAECEF;
			border-radius: 4px;
			padding: 5px 10px;
			border: none;
			font-size: 13pt;
		}
		a.simple.block:hover {
			padding-bottom: 5px;
		}
		.blockLinkButton {
			background-color: #407ac2;
			border-radius: 18px;
			padding: 8px 14px;
			color: #fff;
			font-weight: normal;
			text-decoration: none;
			display: inline-block;
			transition: transform 400ms linear;
	    	font-size: 13pt;
		}
		.blockLinkButton:hover {
			transform: translateX(6px);
		}
		.blockRSSButton {
			color: #f60;
			font-size: 9pt;
			margin-left: 30px;
		}
		.blockRSSButton:hover {
			text-decoration: none;
		}
		a.simple.block.accordian {
			display: block;
			margin: 6px 0;
			font-size: 20pt;
		}
		.filter-wrapper.accordian + a.accordian {
			margin-top: 30px;
		}

	.image_gallery li {
		padding: 15px;
		float: left;
		width: auto;
		border-radius: 5px;
	}
		.image_gallery li a {
			border: none;
		}
		.image_gallery li:hover {
			background-color: #EAECEF;
		}
		.image_gallery li img {
			display: block;
			width: 150px;
			height: 150px;
		}

	/* datebox */
	.datebox {
		float: left;
		width: 38px;
		font-family: Arial, Verdana, sans-serif;
		text-align: center;
		line-height: 100%;
		padding-top: 6px;
		/*padding-right: 15px;*/
		/*background-color: white;*/
		/*margin-left: -12px;*/
		border-top: 2px solid #ddd;
		margin-top: -2px;
	}
		.datebox .date_day {
			color: gray;
			font-size: 25pt;
			font-weight: bold;
			line-height: 24pt;
		}
		.datebox .date_month {
			color: gray;
			font-size: 14pt;
			text-transform: uppercase;
			/*border-bottom: 3px solid #bbbbbb; */
			padding-bottom: 5px;
			/*margin-bottom: 3px;*/
			display: block;
		}
		.datebox .date_time {
			color: #bbbbbb;
			font-size: 12pt;
		}
		.datebox .date_year {
			color: #e0e0e0;
			font-size: 8pt;
			letter-spacing: 2px;
		}


	/* Characters */
	.infobox.short {
		width: 520px;
		box-sizing: border-box;
		font-style: italic;
		background-color: #fefbf399;
		border: 1px solid rgba(0, 0, 0, .1);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
	}
		.infobox.short p {
			color: #888;
		}
	.infobox.boss {
		background-color: #f8f8f8;
		border-color: #abb6c3;
		overflow: hidden;
	}
		.infobox.boss span {
			color: #939fad;
		}
		.infobox.boss .hp {
			float: right;
			font-size: 8pt;
			line-height: 200%;
		}
	article.character .portrait img {
		max-width: 190px;
		border-radius: 5px;
		float: right;
		height: auto;
		margin-bottom: 10px;
	}

/* Används av pluginet "Yet Another Related Post Plugin" för att styla relaterade länkar. */
.yarpp-related {
	background: rgb(223,227,232);
	background: linear-gradient(245deg, rgba(223,227,232,1) 0%, rgba(184,206,234,1) 100%);
	margin: 25px -20px 25px -20px !important;
	padding: 5px 25px;
}
	.yarpp-related h3 {
		margin: 15px 0 15px 0 !important;
		border-color: #666;
		color: #333;
		padding: 0 !important;
		text-transform: none !important;
		font-weight: 200 !important;
		font-size: 24px !important;
	}
	.yarpp-related .yarpp-thumbnail:hover {
		padding-bottom: 0;
	}
	.yarpp-related .yarpp-thumbnail-title {
		text-align: center !important;
    	font-weight: normal !important;
	}
	.yarpp-related .yarpp-thumbnails-horizontal .yarpp-thumbnail {
		border: none;
	}
	.yarpp-related .yarpp-thumbnail .yarpp-thumbnail-default img {
		max-width: 150px;
		max-height: 150px;
	}

/* Fullbredsrutor för bossar */
.fullcover.boss {
	background: rgb(243,222,214);
	background: linear-gradient(245deg, rgba(243,222,214,1) 0%, rgba(255,166,0,0.6) 100%);
	border-top: 5px dashed orange;
	border-bottom: 5px dashed orange;
}
	.fullcover.boss h6 {
		text-transform: uppercase;
		margin-bottom: 0;
		font-weight: bold;
		color: #c54d00;
		font-size: 0.7rem;
		letter-spacing: 1px;
	}
	.fullcover.boss h3 {
		color: #333;
	}
	.fullcover.boss .infobox.boss {
		margin-top: -10px;
		margin-bottom: 10px;
		padding: 6px 8px;
		border: none;
		color: #666;
	}
		.fullcover.boss .infobox.boss strong {
			padding-left: 20px;
			color: #ff6300;
		}
			.fullcover.boss .infobox.boss strong::after {
				content: ":";
				font-weight: 400;
			}
		.fullcover.boss .infobox.boss strong:first-child {
			padding-left: 0;
		}
		.fullcover.boss .additional-information {
			text-align: right;
			font-size: 0.8em;
			color: #666;
		}
	.fullcover.boss h2,
	.fullcover.boss h3,
	.fullcover.boss h4 {
		border-bottom: none;
		margin-top: 4px;
	}
	.fullcover.boss p,
	.fullcover.boss li {
		color: #444;
		font-style: normal;
	}
		.fullcover.boss p q {
			font-size: 1.1rem;
		}

	/* New guide-nav */
	.sibling-navigator {
		margin: 25px -20px;
		background-color: #dfe3e8;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		clear: both;
	}
		.sibling-navigator .block {
			max-width: 35%;
			min-width: 20%;
			padding: 10px 20px 15px 20px;
		}
		.sibling-navigator .block:nth-child(1) {
			text-align: right;
		}
			.sibling-navigator .block a,
			.sibling-navigator .block p {
				padding: 0;
				margin: 0;
			  	font-size: 1.4em;
				border-bottom: 1px solid #dfe3e8;
				display: block;
				white-space: nowrap;
				position: relative;
				padding-bottom: 2px; /* Prevent jumping on hover */
				transition: color 400ms linear;
			}
			.sibling-navigator .block.home {
				display: flex;
				align-items: center;
				justify-content: center;
			}
				.sibling-navigator .block.home a {
				  	font-size: 1.1em;
					padding: 0;
				}
			.sibling-navigator .block small {
			  	font-size: 0.5em;
				text-transform: uppercase;
			}
			.sibling-navigator .block .prev {
				padding-left: 35px;
			}
				.sibling-navigator .block .prev::before {
					content: "\00ab";
					font-size: 2.5em;
					position: absolute;
					left: 0;
					top: 0;
				}
			.sibling-navigator .block.empty {
				display: flex;
				align-items: center;
				justify-content: center;
			}
				.sibling-navigator .block.empty span,
				.sibling-navigator .block.empty .no-link {
					color: #999;
					font-size: 1.2em;
					font-style: italic;
					line-height: 1.2;
				}
				.sibling-navigator .block.empty span::before {
					display: none;
				}
			.sibling-navigator .block .next {
				padding-right: 35px;
			}
				.sibling-navigator .block .next::before {
					content: "\00bb";
					font-size: 2.5em;
					position: absolute;
					right: 0;
					top: 0;
				}

.center {
	text-align: center;
}
	.button.next {
		color: white;
		font-size: 1.4em;
		background-color: #407ac2;
		border-radius: 25px;
		padding: 10px 30px;
		text-align: center;
		margin: 0 auto;
		position: relative;
		margin: 20px 0;
		display: inline-block;
		transition: all 400ms linear;
	}
		.button.next:hover {
			background-color: #566a91;
			box-shadow: 0 0 10px hsla(1, 1%, 1%, 0.7);
		}
	.the-end {
		font-size: 1.35em;
		font-style: italic;
		color: #666;
		margin: 40px 0;
    width: auto;
	}

.sidebar_wrap {
	float: right;
}
.social_buttons {
	clear: both;
}
	.social_buttons a {
		display: block;
		margin: 20px 0px 20px 10px;
		padding: 20px 0px;
		text-align: center;
		font-weight: normal;
		color: white;
		/*background-color: rgb(59, 89, 152);*/
		border-radius: 3px;
		text-decoration: none;
	}
	.social_buttons a:hover {
		text-shadow: 0px 0px 5px rgba(1, 1, 1, 0.3);
	}
	.social_buttons .facebook {
		margin-top: 0px;
		background-color: #3B5998;
	}
		.social_buttons .facebook:hover {
			background: linear-gradient( hsla(221, 44%, 41%, 1), hsla(221, 44%, 21%, 1) );
		}
	.social_buttons .twitter {
		background-color: #4099FF;
	}
		.social_buttons .twitter:hover {
			background: linear-gradient( hsla(212, 100%, 63%, 1), hsla(212, 100%, 43%, 1) );
		}
	.social_buttons .instagram {
		background-color: #8a3ab9;
	}
		.social_buttons .instagram:hover {
			background: linear-gradient( #4c68d7, #fbad50 );
		}
	.social_buttons .rss {
		background-color: #FF6600; /* FF6600 - 255, 102, 0 */
	}
		.social_buttons .rss:hover {
			background: linear-gradient( hsla(24, 100%, 65%, 1.0), hsla(24, 100%, 45%, 1) );
		}
	.social_buttons .spotify {
		background-color: #81b71a;
	}
		.social_buttons .spotify:hover {
			background: linear-gradient( hsla(81, 75%, 41%, 1), hsla(81, 75%, 34%, 1) );
		}
	.social_buttons .discord {
		background-color: #7289da;
	}
		.social_buttons .discord:hover {
			background: linear-gradient( rgb(114, 137, 218),  	rgb(153, 170, 181)  );
		}
	.social_buttons .youtube {
		background-color: #ff0000;
	}
		.social_buttons .youtube:hover {
			background: linear-gradient( #db3131, #951313 );
		}

/* Special template overrides */
.page-template-page-boss-php .alignright {
	margin-top: -150px;
}
	/* Handle data in .content that wants out to the sidebar. */
/*
	.content .sidebar {
		margin-right: -210px;
	}
*/


/* ***************************************** */
/* FOOTER									 */

#before_footer {
	/*text-align: center;*/
	/*background-color: #F1F3F5;*/
	width: 973px;
	margin: 0 auto;
	overflow: hidden;
}
	#before_footer .sidepusher {
		float: left;
		width: 185px;
		height: 10px;
	}
	#before_footer .content {
		background: transparent url("assets/_design/content_bg.png") repeat-y;
		width: 780px;
		padding: 0 8px;
		margin-left: -8px;
		float: left;
	}
		.pageinfo {
			padding: 15px 50px 3px 0;
			height: 45px;
			background: transparent url("assets/_design/footer_cactuar.png") top right no-repeat;
			color: #bbbbbb;
			text-align: right;
			font: 10px Verdana, sans-serif;
		}
		.jags {
			padding: 18px 0 0 0;
			background: #d5dae0 url("assets/_design/footer_jags.png") repeat-x;
			height: 25px;
		}
			.theme-produced-by {
				float: right;
				color: hsla(1,100%,1%,0.6);
				font-size: 11px;
				padding: 0 12px 0 0;
				margin: 0;
			}
			.theme-produced-by a {
				color: hsla(1,100%,1%,0.8);
			}

/* Footer menu */
.footer-bonus-area {
	background-image: url("assets/_design/footer_bg.png");
	overflow: hidden;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
	.footer-bonus-area > .wrapper {
		width: 973px;
		margin: 0 auto;
		overflow: hidden;
	}
		.footer-bonus-area .leftside {
			float: left;
			width: 185px;
			height: 10px;
		}
			.footer-bonus-area .leftside h5 {
				color: #b5bfcb;
				font-size: 16px;
				float: right;
				padding: 15px 10px 0 0;
				margin: 0;
			}
		.footer-bonus-area .wrapper .wrapper {
			float: left;
			overflow: hidden;
			padding: 0 8px;
			background: transparent url("assets/_design/content_bg.png") repeat-y;
			margin-left: -8px;
			width: 780px;
		}
			.footer-bonus-area .wrapper .wrapper footer {
				min-height: 200px;
				background-color: #d5dae0;
				overflow: hidden;
			}
				.footer-bonus-area footer nav {
					margin: 0;
					padding: 20px;
					overflow: hidden;
				}
				.footer-bonus-area footer .box {
					width: 155px;
					float: left;
					/*background: transparent url("assets/_design/footer_separator.png") repeat-y;*/
					padding-right: 30px;
				}
				.footer-bonus-area footer .box:last-child {
					padding-right: 0;
				}
					.footer-bonus-area footer h4 {
				    	font-size: 14px;
						font-weight: bold;
						background-color: #566a91;
						border: none;
						padding: 0 0 0 10px;
						margin: 0 0 10px 0;
						color: white;
						display: inline-block;
						padding: 4px 10px;
					}
					.footer-bonus-area nav .menu,
					.footer-bonus-area nav .menu .sub-menu {
						display: block;
					}
					.footer-bonus-area footer a {
						font: 11px Verdana, sans-serif;
						color: #576c85;
						text-decoration: none;
					}
						.footer-bonus-area footer ul.sub-menu li a {
							font-size: 9px;
							padding-left: 4px;
						}
							.footer-bonus-area footer ul.sub-menu li a::before {
							    content: " ";
							    border: 1px dotted #6A6D7099;
							    width: 4px;
							    height: 6px;
							    display: block;
							    float: left;
							    border-top: none;
							    border-right: none;
							    margin-top: 5px;
							    margin-left: 3px;
							}
					.footer-bonus-area footer .box > ul > li {
							padding: 0;
						}
						.footer-bonus-area footer ul li > ul {
							margin-top: -1px;
							margin-bottom: 4px;
						}
						.footer-bonus-area ul li a:hover {
							text-decoration: underline;
						}
						.footer-bonus-area li.in-path > a {
							font-weight: bold;
						}
						.footer-bonus-area li.is-active > a {
							font-weight: bold;
						}

/* **************************************** */
/* Searching */
.searchblock .title {
	font-weight: bold;
	font-size: 14pt;
}
	.searchblock .title:after {
		content: " \00bb";
	}
.searchblock .url {
	font-size: 10pt;
	color: green;
	border: 0;
	line-height: 180%;
}
.searchblock p {
	font-size: 10pt;
	line-height: 155%;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}
.search-form {
	padding: 0;
	margin: 0 0 20px 0;
	display: flex;
}
	.search-form .search-form-input {
		border: 1px solid #003c54;
		border-radius: 5px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		background-color: white;
		margin: 0;
		padding: 3px 5px;
		line-height: 180%;
		min-width: 240px;
	}
	.search-form .search-form-submit {
		border: none;
		background-color: black;
		color: white;
		padding: 3px 10px;
		margin: 0;
		line-height: 180%;
		border-radius: 5px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

/* **************************************** */
/* For Wordpress edits						*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 0.625em;
    margin-bottom: 0.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 0.625em;
    margin-bottom: 0.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.adminlink {
	clear: both;
	padding-top: 20px;
}
	.adminlink a {
		color: white;
		font-size: 1.1em;
		text-decoration: none;
		background-color: black;
		padding: 11px 9px;
		background-clip: padding-box;
		border-radius: 6px;
		box-sizing: content-box;
		display: inline;
		transition: border 400ms linear;
		border: 3px solid transparent;
	}
	.adminlink a:hover,
	.adminlink a:active,
	.adminlink a:focus {
		border: 3px solid black;
	}

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
	border: 0;
}

} /* END screen media */


/* CSS for all */
nav.submenu.simple.floating {
	overflow: hidden;
	clear: both;
	margin-top: 25px;
	margin-bottom: 30px;
}
	article .heading,
	nav .heading {
		font-weight: bold;
		color: rgba(128, 128, 128, 0.8);
		padding: 0;
		margin: 0;
		font-size: 10pt;
	}
	nav.submenu.simple.floating ol {
		display: flex;
		flex-flow: wrap;
		align-content: space-between;
	}
	nav.submenu.simple.floating li {
		width: auto;
		margin-right: 11px;
	}
		nav.submenu.simple.floating li a {
			white-space: nowrap;
			padding: 5px 10px;
		}

	nav.simple.tiny li {
		margin: 0 6px 6px 0;
		padding: 0;
	}
		nav.simple.tiny li a {
			padding: 2px 6px;
			font-size: 10pt;
		}

/* **************************************** */
/* For new Filter templates					*/
.filter-text {
	font-size: 20pt;
	padding: 5px 8px;
	background-color: white;
	color: #666;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 4px;
	border: gray 1px solid;
	box-shadow: 0px 0px 3px hsla(0,0%,0%,0.4);
}
.filter-clean {
	font-size: 13pt;
	padding: 5px 15px;
	border: none;
	background-image: none;
	background-color: transparent;
	color: #407ac2;
	cursor: pointer;
	opacity: 0.4;
}
	.filter-clean.active {
		opacity: 1.0;
	}
.filter-wrapper {
	padding-top: 20px;
}
	.filter-wrapper.accordian {
		padding-top: 0px;
	}

@media screen and (max-width: 950px) {
	body header.theme-header {
		background-image: none;
	}
	body header.theme-header .wrapper {
		width: auto;
	}
	body header.theme-header .wrapper .content {
		padding-top: 170px;
    	height: 80px;
		width: auto;
	}
	body header.theme-header .wrapper .content .site_title {
		width: auto;
	}
	body header.theme-header .wrapper .content #searchform {
		float: right;
	}
	#breadcrumbs {
		padding-top: 0.75em;
		/*padding-left: 1em;*/
		padding-left: 0;
		background: transparent;
		font-size: 14px;
	}
		#breadcrumbs .current_item {
			display: none;
		}
	.updates h1 {
		margin-left: 0;
	}
	.updates article {
		width: auto;
	}
	#before_footer {
		width: auto;
	}
	#before_footer .sidepusher {
		display: none;
	}
	#before_footer .content {
		background-image: none;
		background-color: white;
		float: none;
		width: auto;
		box-sizing: border-box;
		padding: 0;
	}
	.footer-bonus-area {
		display: none;
	}
	article,
	article p,
	article li,
	article img,
	.story p,
	.story h1,
	.page_wrap .updates article {
		width: auto;
	}
	#content {
		width: auto;
		float: none;
		margin: 0;
		padding: 1em;
	}

	#navbar {
		box-sizing: border-box;
		clear: both;
		width: 100%;
		height: 54px;
		padding: 6px;
		overflow: hidden;
		cursor: pointer;
		background-color: #566a91;
    	box-shadow: 0px 0px 6px hsla(0,0%,0%,.65);
		margin: 0;
		z-index: 200;
	}
		#navbar .menu-toggler {
			font-size: 17pt;
			border: 4px solid white;
			border-radius: 8px;
			box-sizing: border-box;
			padding: 3px 8px 3px 30px;
			margin: 0;
			color: white;
			font-family: monospace;
			text-transform: uppercase;
	    	box-shadow: 0px 0px 5px hsla(0,0%,0%,.4);
			background-color: #1a398c; /*<-- FF4, FF7 --> #0100ad;*/
			background: linear-gradient(56deg, #0000ff5e, #1a398c);
			position: relative;
			cursor: pointer;
			width: 100%;
			text-align: left;
		}
			#navbar .menu-toggler.toggle-open:before,
			#navbar .menu-toggler.toggle-close:before {
				content: "";
				width: 16px;
				height: 16px;
				background-image: url("./assets/gfx/gamepad_playstation.png");
				position: absolute;
				top: 7px;
				left: 7px;
			}
			#navbar .menu-toggler.toggle-open:before {
				background-position: -48px 0px;
			}
			#navbar .menu-toggler.toggle-close:before {
				background-position: 0 0;
			}
			#navbar .menu-toggler.toggle-open {
				display: block;
			}
			#navbar .menu-toggler.toggle-close {
				display: none;
			}
			#navbar.open .menu-toggler.toggle-open {
				display: none;
			}
			#navbar.open .menu-toggler.toggle-close {
				display: block;
			}
	#navbar.sticky {
		position: fixed;
		top: 0;
	}
	body.menu-is-sticky #content {
		padding-top:50px; /* Höjden på #havbar som nu är sticky - motverkar hopp */
	}
	#navbar.open {
		height: auto;
		position: fixed;
		overflow-y: scroll;
		height: 100%;
		/*background-attachment: local;*/
		/*box-sizing: border-box;*/
		box-shadow: none;
	}
	#navbar.was-sticky {
		top: 0;
	}
		#navbar nav {
			width: auto;
			padding-left: 0;
		}

	#logo {
		display: none;
	}

	#navbar nav .ff_menu {
		display: none;
		width: auto;
		margin: 0;
		padding-right: 4px;
		border-radius: 8px;
	}
		#navbar nav h4 {
			font-size: 1.3em;
			color: #a0b6d0;
			/*font-weight: bold;*/
			display: none;
		}
		#navbar.open nav h4 {
			display: block;
			margin-left: 0;
			padding-top: 15px;
		}
			#navbar nav h4::after {
				content: ":";
			}
		#navbar nav h4:first-child {
			padding-top: 20px;
		}
		.ff_menu .menu {
			border-radius: 5px;
			display: none;
			width: auto;
		}
		.ff_menu li.is-active {
			display: block;
		}
		.ff_menu a {
			font-size: 1.2em !important;
		}
		.ff_menu li a {
			line-height: 150% !important;
		}
		.ff_menu .sub-menu {
			background-position: 0px 8px;
		}
		#navbar.open .ff_menu {
			display: block;
		}
			#navbar.open .ff_menu .menu {
				display: block;
			}
		.ff_menu ul ul.sub-menu::before {
			width: 13px;
			height: 11px;
			background-position: -16px -4px;
			top: -23px;
		}
		.ff_menu ul ul.sub-menu.closed::before, .ff_menu ul li.in-path .sub-menu::before, .ff_menu ul li.is-active .sub-menu::before {
			background-position: 0px -4px;
		}
		#ffmenu_active_hand {
			float: left;
			margin-left: -5px;
			margin-top: 10px;
		}

	#content_wrapper {
		background: white none;
		width: auto;
	}

	.alignright {
		display: inline;
		float: right;
		margin: 0;
	}
	.infobox.light {
		/*float: left;*/
		/*width: 100px;*/
		width: auto;
		overflow: hidden;
		border-radius: 0;
    	margin-right: -20px;
	}
	.infobox.light span {
		/*width: 90px;*/
		/*clear: both;*/
		float: left;
		text-align: left;
		padding-left: 10px;
		line-height: 200%;
    	width: 30%;
	}
	h2.aka:before {
		content: "Kallas även: ";
	}
	.page-template-page-boss-php .page-content {
		clear: both;
	}
	.page-template-page-boss-php .alignright {
		margin-top: 0;
	}
	.story h1 {
		clear: both;
		font-size: 28pt;
	}
	.updates h3,
	.updates p {
		margin-left: 0;
	}
	.updates article {
		padding-left: 0;
		padding-right: 0;
	}
	article .datebox {
		float: none;
		padding: 0;
		width: auto;
		margin: 0;
		text-align: left;
		border: 0;
	}
		article .datebox .date_day,
		article .datebox .date_month,
		article .datebox .date_time {
			font-size: 14px;
		}
		article .datebox .date_month {
			display: inline;
		}
		article .datebox .date_month:after {
			content: " - ";
			color: gray;
		}
		article .datebox .date_time {
			color: gray;
		}

		.sidebar p,
		.sidebar li,
		.sidebar a,
		aside p,
		aside li,
		aside a {
			font-size: 11pt;
		}
		.page-content > .sidebar {
			position: static; /* Boss template reset */
		}
	article > pre {
		font-size: 0.7em;
		max-width: 300px;
		overflow: scroll;
	}
	article > img {
		max-width: 95%;
	}
	article .table-wrapper {
		/*max-width: 300px;*/
		max-width: 95vw;
		overflow: scroll;
	}
		.guide .chapter header img {
			max-width: none;
		}
	.sibling-navigator {
		width: 100vw;
		box-sizing: border-box;
		margin: 2em -1em;
	}
}


@media screen and (max-width: 800px) {
	article blockquote {
		width: auto;
		clear: both;
	}
	body header.theme-header .site_title a {
		font-size: 36px;
		line-height: 95px;
	}
	.sibling-navigator {
		align-items: center;
		flex-direction: column;
	}
		.sibling-navigator .block {
			max-width: none;
			min-width: none;
		}
		.sibling-navigator .block .prev,
		.sibling-navigator .block {
			text-align: center;
		}
		.sibling-navigator .block.home {
			border-top: 1px solid #bbb;
			border-bottom: 1px solid #bbb;
		}

		.linkbox ol {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.linkbox li {
			margin: 0 2% 15px 0;
			padding: 5px 0;
			border-radius: 0;
			max-width: none;
			width: 31%;
		}
		.linkbox li:nth-child(2n) {
			margin-right: 0;
		}
		ol.image_gallery {
			list-style-type: none !important;
		}
		.image_gallery li {
			padding: 10px 5px;
		}
		/*.linkbox li img,*/
		.linkbox li br {
			/*width: 80% !important;*/
			display: none;
		}
		.linkbox li a {
			font-size: 13pt;
		}
		.infobox.short,
		.infobox.light {
			/*clear: both;*/
			width: auto;
		}
}


@media screen and (max-width: 600px) {
	body header.theme-header .wrapper {
		background-position-y: center;
	}
	body header.theme-header .wrapper .content {
		padding-top: 0;
	}/*
	body header.theme-header .site_title {
		width: auto;
	}*/
	.filter-text {
		display: block;
		min-width: 92vw;
		box-sizing: border-box;
	}
	.filter-clean {
		padding-top: 0;
		padding-left: 0;
    	font-size: 12pt;
	}
	nav.simple.tiny li a {
    	font-size: 12pt;
	}
	.guide .chapter {
		width: 48.44%;
	}
	.linkbox li {
		width: 48%;
	}

	/* Visa egen sök, bara för mobil */
	body header.theme-header .wrapper .content #searchform {
		display: none;
	}
	#navbar .mobile-search-form {
		display: flex;
		margin: 25px 2px 0px 2px;
	    box-shadow: -1px 1px 6px 0px black;
    	border-radius: 6px;
	}
		#navbar .mobile-search-form .input-text {
			line-height: 32px;
			height: 32px;
			background-color: hsla(1,1%,100%,0.9);
			border: none;
			padding: 0 8px;
			width: 80%;
			box-sizing: border-box;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
		#navbar .mobile-search-form .input-submit {
			width: 20%;
			box-sizing: border-box;
			border: 0;
			line-height: 32px;
			height: 32px;
			background-color: black;
			color: white;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
}

@media screen and (max-width: 400px) {
	body header.theme-header .site_title a {
		font-size: 28px;
	}
	.guide .chapter {
		width: auto;
		max-width: 300px;
		margin: 0 auto 20px auto;
	}
	.sidebar,
	aside,
	.infobox2 {
		clear: both;
		float: none;
		width: auto;
		margin: 12px 0;
	}
	.social_buttons a {
		margin-left: 0;
	}
}


@media screen and (max-width: 320px) {
	.linkbox li {
		margin-right: 0 !important;
		width: 100%;
	}
}


@media print {
	.do-not-print { display: none; }
	#comments { page-break-before: always; }

	body { width: 100% !important; margin: 0 !important; padding: 0 !important; line-height: 1.4; word-spacing: 1.1pt; letter-spacing: 0.2pt; font-family: Garamond,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }
	h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
	h1 { font-size: 19pt; }
	h2 { font-size:17pt; }
	h3 { font-size:15pt; }
	h4,h5,h6 { font-size:12pt; }
	code { font: 10pt Courier, monospace; }
	blockquote { margin: 1.3em; padding: 1em; }
	img { display: block; margin: 1em 0; }
	a img { border: none; }
	table { margin: 1px; text-align:left; }
	th { border-bottom: 1px solid #333;  font-weight: bold; }
	td { border-bottom: 1px solid #333; }
	th, td { padding: 4px 10px 4px 0; }
	caption { background: #fff; margin-bottom: 2em; text-align: left; }
	thead { display: table-header-group; }
	tr { page-break-inside: avoid; }
	a { text-decoration: none; color: black; }
} /* END print media */
